/* step_03_operator*/
.box { width: 300px; }

.box2 { width: 300px; }

.box2 { width: 350px; }

.box2 { width: 350 px; }

.box2 { width: 400px; }

.color { color: white; }

.color { color: #66ffff; }

.color { color: white; }

.two { width: 33.33333px; height: 43.33333em; font-size: 3rem; }
