#.gitignore 주석표기는'#'으로 한다. (한줄 주석)
#.gitignore는 git에 전송하지 않을 파일을 작성하기 위한 문서
#.gitignore는 숨김처리된 파일
#.girignore 사용시 폴더명을 작성 할 수도 있고,
#.gitignore 파일명도 작성할 수 있다.
#.gitignore에서 확장자명만 올리고 싶다면 모든 파일이라는 뜻으로 '*'를 기입하고 확장명을 붙인다.
#.gitignore에서 모든 폴더라는 뜻으로 사용할 때는 '**'를 사용하는것이 일반적
#.gitignore에서 주석처리는 반드시 작성하는 것이 좋다.
#무엇을 어떠한 상황에서 git에 올리지 않을지 표기해야하기 때문!

# **/*.psd 전체 폴더의 psd의 모든 파일은 올라가지 않음
# ./assets/graphic/
# ./assets/graphic/** graphic에 있는 모든 파일은 올라가지 않음


#. 포토샵 템블릿 파일 제한
basic2/graphic/photoshop/template/*


#. ppt파일 제한
*.ppt
*.pptx
*.psd
*.jpg
*.jpge