#wrap{width:940px; height: auto; margin:0 auto;}
    
    #headerBox{width:100%; height:264px; padding-top:16px; box-sizing:border-box; 
               background-color: #fff;}
        h1{width:186px; height: 54px; margin:auto; margin-top:52px; margin-bottom:72px; background-image:url("../../img/logo.jpg");}
      #lnbBox{width:150px; height:23px; float:right; margin-right:26px;}
        .lnb{width:160px; height:24px;}
          .lnb>li{width:68px; height:24px; text-transform:uppercase; text-align:center; font-size:13pt; line-height:24px; margin-right:20px; float:left;}
      #gnbBox{width:940px; padding:0 26px; box-sizing:border-box; height:70px; background-color: #f8faf0;}
        .LoginJoinBox{width:102px; line-height:70px; height:70px; float:left;}
        .LoginJoinBox li::first-letter{text-transform:uppercase;}
          .LoginJoinBox>li{text-align:center; font-size:13pt; height:70px; display:block; margin-right:20px; float:left;}
          .LoginJoinBox>li:hover{border-bottom:solid 2px #005e15; box-sizing:border-box;}
          .LoginJoinBox>li:first-child{width:46px; word-spacing:-5px;}
          .LoginJoinBox>li:nth-child(2){width:36px;}
        .menuBox{width:432px; text-transform:uppercase; float:right;}
          .menuBox>li{width:70px; height:70px; text-align:center; line-height:70px; display:block; float:left; font-size:13pt; margin-right:20px;}
          .menuBox>li:hover{border-bottom:solid 2px #005e15; box-sizing:border-box;}
            .menuBox>li:first-child{width:52px;}
            .menuBox>li:last-child{width:88px;}

    #content{width:100%; height:auto;}
      #adbannerBox{width: 100%; height:634px; position:relative;}  
      .adButton{width:100%; height:0; position:absolute; z-index:100; padding:6px; box-sizing:border-box;top: 50%; left: 0; margin-top: -15px;}
        .adButton>button{font-size:2em; height:30px;  color:#fff;}
        .adButton>button:hover{color:#333;}
        .adButton>button:first-of-type{float:left;}
        .adButton>button:nth-of-type(2){float:right;}
       #adbannerBox>.adBanner{width: 300%; height:634px; }
       #adbannerBox>.adBanner>li{width:33.333333%; height:634px; float: left;}
       #adbannerBox>.adBanner>li:first-child{width: 33.333333%; height:634px; background-color: #cda; background-image: url("../../img/adBanner.jpg");}
      

      #articleWrap{width:100%; height:756px; padding:0 26px; box-sizing:border-box;}
           #articleWrap>h4{display:block; width:204px; height:46px; margin:0 auto; margin-top:74px; margin-bottom:90px; font-color:#fff; font-size:20pt; text-transform:uppercase; text-align:center; border-bottom:solid 2px #005e15; box-sizing: border-box;}
          .newsBox{width:376px; height:232px; float:left;}
            .newsName{width:100%; height:28px;}
              .newsName>strong{font-size:13pt; font-weight:900;}
              .newsName>.more{float:right;}
            .newsBox>.newsBoard{width:100%; height:204px; border-top:solid 2px #005e15; border-bottom:solid 2px #005e15; box-sizing:border-box; background-color: #fff;}
          .cfBox{width:412px; height:232px; float:left; margin-left:82px; margin-bottom:50px;}
          .cf{width:430px; height:232px; background-color: #ccc;}
        .eventBannerBox{width:100%; height:378px; float:left;}
          .eventBanner{width:100%; height:100%; padding-top:57px;
                       box-sizing:border-box; background-color: #fff;}
            .eventBanner>li{width:230px; height:80%; display:block; 
                            margin-right:8px; float:left; background-color: #ccc;}
            .eventBanner>button{float:right; margin-top:7px; margin-right:13px;} 

      #adFixed{width:100%; padding:100px 0px; box-sizing:border-box; height:400px; background-color: #e0e0e0;}
        #adFixed>dt{font-size:3em; text-align:center;}
        #adFixed>dd{text-align:center;}

      #menuBox{width:100%; height:708px; padding:70px 0px; box-sizing:border-box;}
        #menuBox>dt{display:block; width:210px; font-size:20pt; height:50px; text-align: center; margin:auto;
                     margin-bottom:20px; border-bottom:1px solid #ccc; text-transform:uppercase;}
        #menuBox>dd{text-align: center; font-size:8pt;}
        #menuBox>.enjoyMenu{font-size:12pt; margin-bottom:10px;}
        .subwayMenu{width:919px; height:300px; margin:auto; margin-top:15px;}
          .subwayMenu>li{display:block; width:222px; height:300px; float:left; margin-right:10px; background-color: #ccc;}
            .subwayMenu dt{width:100%; height:90%; background-color: #e4f8ee;}
            .subwayMenu dd{width:100%; height:10%; text-align:center; background-color: #ccc;}

      #foundstoreBox{width:100%; height:400px; background-color: #e0e0e0; padding-right:40px; padding-top:70px; box-sizing:border-box;}
        #foundstorewrap{width:350px; height:auto; float:right;}
        #foundstoreBox h3{display:block; width:100px; height:35px; float:right; font-size:18pt;}
          .foundstore{width:350px; height:180px; padding:43px 24px; box-sizing:border-box; float:right; background-color: #e4f8ee;}
            .top_found{width:300px; height:40px; margin-bottom:10px;}
              .top_found dt{width:70px; height:40px; margin:auto; margin-right:10px; 
                float:left; background-color: #555;}
              .top_found dd{width:220px; height:40px; float:left; background-color: #555;}
            .bottom_found{width:300px; height:40px;}
              .bottom_found dt{width:70px; height:40px; margin:auto; margin-right:10px;
                float:left; background-color: #555;}
              .bottom_found dd{width:220px; height:40px; float:left; background-color: #555;}

      #qBox{width:100%; height:350px;}
        #chain{width:50%; height: 350px; float:left; padding-top:30px; box-sizing:border-box;}
          #chain>dt{display:block; width:160px; font-size:18pt; height:40px; text-align: center; margin:auto;
                     border-bottom:1px solid #ccc;}
          #chain>dd{display:block; width:200px; margin:25px auto;  height:150px; background-color:#ccc;}
          #chain p{text-align:center;}
        #sns{width:50%; height: 350px; float:left; padding:30px 23px; box-sizing:border-box;}
          #sns>dt{display:block; width:160px; font-size:18pt; height:40px; text-align: center; margin:auto;
                   border-bottom:1px solid #ccc; text-transform:uppercase;}
          #sns>dd{display:block; width:120px; float:left; height: 120px; margin-top:50px; margin-right:40px; background-color: #ccc;}

    #footBox{width:100%; height:200px; background-color: #e0e0e0; padding:70px; box-sizing:border-box;}
        address{width:600px; height:20px; text-align:center; display:block; margin:auto;}
        #footBox span{margin-left:10px;}
        #footBox p{text-align:center; margin-bottom:13px;}
        .footlist{width:279px; height:30px; display:block; margin:0 auto;} 
          .footlist>li{margin-right:10px; display:block; height:28px; 
                      text-align:center; padding:2px 0; box-sizing:border-box; float:left; background-color: #fff;}       
          .footlist>li:nth-child(1){width:64px;}       
          .footlist>li:nth-child(2){width:68px;}       
          .footlist>li:nth-child(3){width:123px;}       