#wrap{width:940px; height: auto; margin:0 auto;}
    
    #headerBox{width:100%; height:264px; padding-top:16px; box-sizing:border-box; 
               background-color: #fff;}
        h1{width:186px; height: 54px; margin:auto; margin-top:52px; margin-bottom:72px; background-image:url("../../img/logo.jpg");}
      #lnbBox{width:150px; height:23px; float:right; margin-right:26px;}
        .lnb{width:160px; height:24px;}
          .lnb>li{width:68px; height:24px; text-transform:uppercase; text-align:center; font-size:13pt; line-height:24px; margin-right:20px; float:left;}
      #gnbBox{width:940px; padding:0 26px; box-sizing:border-box; height:70px; background-color: #f8faf0;}
        .LoginJoinBox{width:102px; line-height:70px; height:70px; float:left;}
        .LoginJoinBox li::first-letter{text-transform:uppercase;}
          .LoginJoinBox>li{text-align:center; font-size:13pt; height:70px; display:block; margin-right:20px; float:left;}
          .LoginJoinBox>li:hover{border-bottom:solid 2px #005e15; box-sizing:border-box; transition: 100ms;}
          .LoginJoinBox>li:first-child{width:46px; word-spacing:-5px;}
          .LoginJoinBox>li:nth-child(2){width:36px;}
        .menuBox{width:432px; text-transform:uppercase; float:right;}
          .menuBox>li{width:70px; height:70px; text-align:center; line-height:70px; display:block; float:left; font-size:13pt; margin-right:20px;}
          .menuBox>li:hover{border-bottom:solid 2px #005e15; box-sizing:border-box; transition: 100ms;}
            .menuBox>li:first-child{width:52px;}
            .menuBox>li:last-child{width:88px;}

    #content{width:100%; height:auto;}
      #adbannerBox{width: 100%; height:634px; position:relative; overflow:hidden;}  
      .adButton{width:100%; height:0; position:absolute; z-index:100; padding:6px; box-sizing:border-box;top: 50%; left: 0; margin-top: -15px;}
        .adButton>button{font-size:2em; height:30px;  color:#fff;}
        .adButton>button:hover{color:#333;}
        .adButton>button:first-of-type{float:left;}
        .adButton>button:nth-of-type(2){float:right;}
       #adbannerBox>.adBanner{width: 300%; height:634px; }
       #adbannerBox>.adBanner>li{width:33.333333%; height:634px; float: left;}
       #adbannerBox>.adBanner>li:first-child{width: 33.333333%; height:634px; background-image: url("../../img/adBanner.jpg");}
      

      #articleWrap{width:100%; height:756px; padding:0 26px; box-sizing:border-box;}
           #articleWrap>h4{display:block; width:204px; height:46px; margin:0 auto; margin-top:74px; margin-bottom:90px; font-color:#fff; font-size:20pt; text-transform:uppercase; text-align:center; border-bottom:solid 2px #005e15; box-sizing: border-box;}
          .newsBox{width:376px; height:232px; float:left;}
            .newsName{width:100%; height:28px;}
              .newsName>strong{font-size:13pt; font-weight:900;}
              .newsName>.more{float:right;}
            .newsBox>.newsBoard{width:100%; height:204px; border-top:solid 2px #005e15; border-bottom:solid 2px #005e15; box-sizing:border-box; background-color: #fff;}
          .cfBox{width:412px; height:232px; float:left; margin-left:82px; margin-bottom:50px;}
          .cf{width:430px; height:232px; background-color: #ccc;}
        .eventBannerBox{width:100%; height:280px; float:left;}
          .eventBanner{width:100%; height:100%; padding-top:57px;
                       box-sizing:border-box;}
            .eventBanner>li{width:216px; height:244px; display:block; 
                            margin-right:8px; float:left; background-repeat:no-repeat;}
            .eventBanner>li>a{display:block; width:216px; height:244px;}                
              .eventBanner>li:nth-child(1){background-image: url("../../img/promotion_01.jpg");}    
              .eventBanner>li:nth-child(2){background-image: url("../../img/promotion_02.jpg");} 
              .eventBanner>li:nth-child(3){background-image: url("../../img/promotion_03.jpg");} 
              .eventBanner>li:nth-child(4){background-image: url("../../img/promotion_04.jpg");}             
            .eventBanner>.more{float:right; margin-top:7px; margin-right:13px;} 

      #adFixed{width:100vw; height:400px; position:relative; left:50%; top:0; margin-left:-50vw; 
            background-image: url("../../img/fixed.jpg"); padding:120px 0; box-sizing:border-box;
            background-repeat:no-repeat; background-position:center; background-size:cover; 
            background-attachment:fixed; margin-top:96px}
        #adFixed>dt{width:260px; height: 116px; margin:0 auto; background-image: url("../../img/adfixed_font.png"); background-repeat:no-repeat; margin-bottom:10px;}
        #adFixed>dd{text-align:center; color:#333;}

      #menuBox{width:100%; height:708px; padding:70px 0px; box-sizing:border-box;}
        #menuBox>dt>h4 {display:block; width:206px; height:46px; margin:0 auto; margin-top:74px; margin-bottom:90px; color:#333; font-size:20pt; font-size:20pt; text-align:center; margin:auto; text-transform:uppercase; text-align:center; border-bottom:solid 2px #005e15; box-sizing: border-box; margin-bottom:20px}
        #menuBox>dd{text-align: center; font-size:10pt;}
        #menuBox>.enjoyMenu{font-size:13pt; font-weight:700; margin-bottom:10px;}
        .subwayMenu{width:888px; height:252px; margin:auto; margin-top:80px;}
          .subwayMenu>li{display:block; width:216px; height:250px; float:left; margin-right:8px;} 
            .subwayMenu>li dt{background-repeat:no-repeat;}      
            .subwayMenu>li>a{display:block; width:216px; height:250px;}            
            .subwayMenu dt{width:216px; height:220px; transition:all 500ms;}
              .subwayMenu li:nth-child(1) dt{background-image: url(../../img/menu_01.jpg);}
              .subwayMenu li:nth-child(2) dt{background-image: url(../../img/menu_02.jpg);}
              .subwayMenu li:nth-child(3) dt{background-image: url(../../img/menu_03.jpg);}
              .subwayMenu li:nth-child(4) dt{background-image: url(../../img/menu_04.jpg);}
              .subwayMenu li:nth-child(1):hover dt{background-image: url(../../img/menu_hover_01.jpg);}
              .subwayMenu li:nth-child(2):hover dt{background-image: url(../../img/menu_hover_02.jpg);}
              .subwayMenu li:nth-child(3):hover dt{background-image: url(../../img/menu_hover_03.jpg);}
              .subwayMenu li:nth-child(4):hover dt{background-image: url(../../img/menu_hover_04.jpg);}
            .subwayMenu dd{width:100%; height:30px; font-size:13pt; line-height:30px; text-align:center;}

      #foundstoreBox{width:100vw; height:400px; position:relative; left:50%; top:0; margin-left:-50vw; 
       background-repeat:no-repeat; background-position:center; background-size:cover; background-attachment:fixed; background-image:url("../../img/vegetable.jpg"); padding-right:40px; padding-top:70px; box-sizing:border-box;}
        #foundstorewrap{width:350px; height:auto; margin-right:400px; float:right;}
        #foundstoreBox h3{display:block; width:101px; height:35px; margin-bottom:10px;float:right; color:#fff; font-size:20pt;}
          .foundstore{width:346px; height:176px; padding:50px 30px; border-radius:1em; box-sizing:border-box; float:right; background-color: #faf9fb;}
            .top_found{width:300px; height:32px; margin-bottom:10px;}
              .top_found dt{width:68px; height:32px; margin:auto; margin-right:6px; 
                float:left; color:#fff; font-size:13pt; line-height: 32px; padding-left:10px; box-sizing:border-box; background-color: #005e15;}
              .top_found dd{width:208px; height:32px; float:left; background-color: #fff;}
              .top_found dd input{width:176px; height:32px; border:none; box-sizing:border-box;}
              .top_found dd button{width:32px; height:32px; float:right; background-color: #333;}
            .bottom_found{width:300px; height:40px;}
              .bottom_found dt{width:68px; height:32px; margin:auto; color:#fff; line-height: 32px; padding-left:10px; box-sizing:border-box; margin-right:6px;
                float:left; font-size:13pt; background-color: #005e15;}
              .bottom_found dd{width:208px; height:32px; float:left; background-color: #fff;}
              .bottom_found dd input{width:176px; height:32px; border:none; box-sizing:border-box;}
              .bottom_found dd button{width:32px; height:32px; float:right; background-color: #333;}
              .foundstore dd button i{color:#fff;}

      #qBox{width:100%; height:490px;}
        #chain{width:50%; height: 490px; float:left; padding-top:100px; box-sizing:border-box;}
          #chain>dt{display:block; width:160px; font-size:20pt; height:40px; text-align: center; margin:auto;
                    border-bottom:1px solid #ccc; margin-bottom:90px; color:#333; text-align:center; text-align:center; border-bottom:solid 2px #005e15;box-sizing: border-box; margin-bottom:20px}
          #chain>dd{display:block; width:192px; height:144px; margin:42px auto; background-image: url("../../img/chain.jpg");}
          #chain p{text-align:center;}
        #sns{width:50%; height: 490px; float:left; padding:100px 50px; box-sizing:border-box;}
          #sns>dt{display:block; width:160px; font-size:20pt; height:40px; text-align: center; margin:auto;
                  border-bottom:1px solid #ccc; margin-bottom:90px; color:#333; text-align:center; text-align:center; border-bottom:solid 2px #005e15; box-sizing: border-box; margin-bottom:20px; text-transform:uppercase; }
          #sns>dd{display:block; width:64px; height:64px; float:left; margin-top:70px; margin-right:80px;}
          #sns>dd>a{}
          #sns>dd>a>p{margin-top:70px; text-align:center;}
            #sns>.faceBook{background-image: url("../../img/facebook.png");}
            #sns>.kakao{background-image: url("../../img/kakao.png");}
            #sns>.twitter{background-image: url("../../img/twitter.png");}

    #footBox{width:100%; height:200px; background-color: #e0e0e0; padding:70px; box-sizing:border-box;}
        address{width:630px; height:20px; font-size:13pt; text-align:center; display:block; margin:auto;}
        #footBox span{margin-left:10px;}
        #footBox p{font-size:10pt; text-align:center; margin-top:5px; margin-bottom:13px;}
        .footlist{width:304px; height:30px; display:block; margin:0 auto;} 
          .footlist>li{margin-right:10px; display:block; height:28px; font-size:13pt;
                      text-align:center; padding:2px 0; box-sizing:border-box; float:left; background-color: #fff;}       
          .footlist>li:nth-child(1){width:72px;}       
          .footlist>li:nth-child(2){width:72px;}       
          .footlist>li:nth-child(3){width:140px;}       