/*promotionPage.css*/
#wrap{width:940px; height: auto; margin:0 auto;}
    
    #headerBox{width:100%; height:264px; padding-top:16px; box-sizing:border-box; 
               background-color: #fff;}
        h1{width:186px; height: 54px; margin:auto; margin-top:52px; margin-bottom:72px; background-image:url("../../img/logo.jpg");}
        h1>a{width:186px; height: 54px; display:block;}
      #lnbBox{width:150px; height:23px; float:right; margin-right:26px;}
        .lnb{width:160px; height:24px;}
          .lnb>li{width:68px; height:24px; text-transform:uppercase; text-align:center; font-size:1em; line-height:24px; margin-right:20px; float:left;}
      #gnbBox{width:940px; padding:0 26px; font-size:1em; font-weight:700; color:#333; box-sizing:border-box; height:70px; background-color: #f8faf0; border-bottom:solid 1px #ccc; position:relative;}
      #gnbBox:before{content:" "; width: 100vw; height:inherit; background-color:inherit; left: 50%; margin-left: -50vw; position: absolute; z-index: -100; border-bottom:solid 1px #ccc;}  
        .LoginJoinBox{width:102px; line-height:70px; height:70px; float:left;}
        .LoginJoinBox:hover{color:#005e15;}
        .LoginJoinBox li::first-letter{text-transform:uppercase;}
          .LoginJoinBox>li{text-align:center; height:70px; display:block; margin-right:20px; float:left;}
          .LoginJoinBox>li:hover{border-bottom:solid 1px #005e15; box-sizing:border-box; transition: 100ms;}
          .LoginJoinBox>li:first-child{width:46px; word-spacing:-5px;}
          .LoginJoinBox>li:nth-child(2){width:36px;}
        .menuBox{width:432px; text-transform:uppercase; float:right;}
        .menuBox:hover{color:#005e15;}
          .menuBox>li{width:70px; height:70px; text-align:center; line-height:70px; display:block; float:left; font-size:1em; margin-right:20px;}
          .menuBox>li:hover{border-bottom:solid 1px #005e15; box-sizing:border-box; transition: 100ms;}
            .menuBox>li:first-child{width:52px;}
            .menuBox>li:last-child{width:88px;}


      #contentBox{width:100%; height:auto;}
        #innerBox{width: 100%; height:384px; padding:120px 0; box-sizing:border-box; background-repeat:no-repeat; background-image: url("../../img/innerBox.jpg");}
          #innerBox h3{font-family:arial;font-weight:bold; text-transform:uppercase; text-align:center; 
                        font-size:5.8em;}
          #innerBox p{text-align:center; margin:auto; color:#ccc;}
        #menuWrap{width: 940px; height:auto; padding-top:146px; box-sizing:border-box;}
          #menuWrap>.menuArea{width:850px; height:auto; border-top:3px solid #999; 
                              position: relative; padding-top:70px; 
                              box-sizing:border-box; margin:0 auto;}
            .menuName{width:150px; height: 24px; text-align:center; 
                      border-radius:5px; position:absolute; top:-12px; left:350px;
                      z-index:100; background-color: #e4f8ee;}    
              .menuList{width:820px; height:770px; margin:auto;}
                .menuList>li{width:260px; height: 310px; margin-right:20px; margin-bottom:30px; 
                            float:left; border-radius:1em; background-color: #ccc;}
                 .menuList>li:nth-child(1){background-image:url("../../img/promotion_01.jpg")}
                 .menuList>li:nth-child(2){background-image:url("../../img/promotion_02.jpg")}
                 .menuList>li:nth-child(3){background-image:url("../../img/")}
                 .menuList>li:nth-child(4){background-image:url("../../img/")}
                 .menuList>li:last-child{background-image:url("../../img/")}     
                 .menuList>li>a{width:260px; height:310px; display:block; border-radius:2em;}                 


#footBox{width:100%; height:200px; background-color: #e0e0e0; padding:60px 20px; box-sizing:border-box; position:relative;}
#footBox:before{content:" ";  width: 100vw; height:inherit; background-color:inherit; top:0; left: 50%; margin-left: -50vw; position: absolute; z-index: -100;}
        .logo_2{width:186px; height: 54px; float:left; margin-top:10px;background-image:url("../../img/logo_2.png");}
        .footR{width:78%; height: 100%; float:right; margin-left:4px;}
        address{width:630px; height:20px; font-size:1em; display:block; margin-bottom:10px;}
        #footBox span{margin-left:10px;}
        #footBox p{font-size:10pt; margin-top:8px;}
        .footlist{width:304px; height:30px; display:block;} 
          .footlist>li{margin-right:10px; line-height:28px; display:block; height:28px; font-size:1em;
                      text-align:center; padding:2px 0; box-sizing:border-box; float:left; background-color: #fff;}       
          .footlist>li:nth-child(1){width:72px;}       
          .footlist>li:nth-child(2){width:72px;}       
          .footlist>li:nth-child(3){width:140px;}       