//step_03_maps.scss

//maps(object) 형태
//$map(key : value, key : value, key : value);

// (무엇이: 무엇이다, 선택: 값);

$color:(
  primary:#f06,
  basic:#0f6,
  sub1:#777,
  sub2:#890
  );
$font:(
  primary:#333,
  basic:#178,
  sub1:#9a0,
  sub2:#9a7
  );

// map의 형태를 가져와서 사용할경우
//map-get();
//map-get(변수이름, 변수의 내부에 있는 속성명);
li{color:map-get($font, primary);
  background-color:map-get($color, primary);}