//step_03_dataType.scss//

//number : 숫자
//string : 문자
//color: 색상
//list : 목록
//map : object
//boolean : 참(true)/거짓(faluse)
//null : 없음


//----형타입(data Type)
//type-of()
//data-type()
//data()

$type: 10000;
$aa:( );
$aa1:11, 33, 55;
$aa2:(11), (33), (55);
$bb:(a:#aa5); //a는 __다 이면map으로 분류

.type1{content:type-of(10);}
.type2{content:type-of(100px);}
.type3{content:type-of(10);}
.type4{content:type-of("text");}
.type5{content:type-of("$type");}
.type6{content:type-of(rgba(100, 200,250,0.4));}
.type7{content:type-of("#afc");}
.type8{content:type-of(#aa);}
.type9{content:type-of($bb);}
.type10{content:type-of(true);}
.type11{content:type-of(false);} //bull은 트루아니면 거짓
.type12{content:type-of(null);}
