/*menuPage.css*/

#wrap{width:978px; height: auto; margin:0 auto;}
    #headerBox{width:100%; height:200px; padding-top:45px; box-sizing:border-box; 
               background-color: #ccc; }
        h1{width:115px; height: 46px; margin:0 auto; margin-bottom:54px;}
      /*#lnbBox{width:150px; height:15px; float:right; background-color: #854;}
        .lnb{width:150px; height:15px; background-color: #524;}
          .lnb>li{width:70px; height:15px; margin-right:10px; float:left; background-color: #fff;}*/
      #gnbBox{width:978px; height:55px; padding:15px 15px; box-sizing:border-box; background-color: #e4f8ee;}
        .LoginJoinBox{width:120px; height:21px; float:left;}
          .LoginJoinBox>li{width:40px; text-align:center; height:21px; display:block; margin-right:40px; float:left; background-color: #ccc;}
        .menuBox{width:480px; float:right;}
          .menuBox>li{width:80px; height:21px; text-align:center; display:block; float:left; margin-right:15px; background-color: #ccc;}


      #contentBox{width: 978px; height:auto;}
        #innerBox{width: 100%; height:400px; padding:110px 0; box-sizing:border-box; background-color: #e0e0e0;}
          #innerBox h3{width:270px; height: 90px; text-align:center; 
                        font-size:4em; margin:0 auto; display:block;}
          .x{width:400px; height:50px; text-align:center; display:block; margin:auto;}
        #menuWrap{width: 978px; height:auto; margin-bottom:100px; padding:70px 65px; box-sizing:border-box;}
          #menuWrap>.menuArea{width:850px; height:auto; border-top:3px solid #999; 
                              position: relative; padding-top:70px; 
                              box-sizing:border-box;}
            .menuName{width:150px; height: 24px; text-align:center; 
                      border-radius:5px; position:absolute; top:-12px; left:350px;
                      z-index:100; background-color: #e4f8ee;}    
              .menuList{width:780px; height:770px; margin:auto;}
                .menuList>li{width:370px; height: 370px; margin-right:40px; margin-bottom:30px; 
                            float:left; background-color: #582;}
                 .menuList>li>a{width:370px; height:345px; display:block; background-color: #e4f8ee;}           
                 .menuList>li>p{width:370px; height: 25px; text-align:center; font-size:15pt; background-color: #e0e0e0;}               


    #footBox{width:100%; height:200px; background-color: #e0e0e0; padding:70px; box-sizing:border-box;}
        address{width:600px; height:20px; text-align:center; display:block; margin:auto;}
        #footBox span{margin-left:10px;}
        #footBox p{text-align:center; margin-bottom:13px;}
        .footlist{width:279px; height:30px; display:block; margin:0 auto;} 
          .footlist>li{margin-right:10px; display:block; height:28px; 
                      text-align:center; padding:2px 0; box-sizing:border-box; float:left; background-color: #fff;}       
          .footlist>li:nth-child(1){width:64px;}       
          .footlist>li:nth-child(2){width:68px;}       
          .footlist>li:nth-child(3){width:123px;}       
      