@charset:"utf-8";
/*! position_01.css */

#wrap{width:500px; height:300px; background-color: #ccc; margin:100px auto;
  box-shadow:0.5em 0.5em 0.5em #333;}
  h1{width:100%; height:auto; color:#fff; background-color: #09f; margin-bottom:50px;}
  .position{width:80%; height:200px; background-color: #f9c; margin:0 auto;}
  .position>div{width:70px; height: 70px; float:left;
    text-align:center; line-height:70px; color:#fff; text-shadow:0.1em 0.1em 0.1em #171717;}
    .none{background-color: #9af;}
    .static{background-color: #5bc;}
    .fixed{background-color: #3ca;}
    .relative{background-color: #1d9;}
    .absoulte{background-color: #0e7;}
    .box{background-color: #9f5;}
