@charset:"utf-8";
/*! position_01.css */
body{width:100%; height:3000px; background-color: rgba(200, 10, 50, 0.1);}
#wrap{width:500px; height:300px; background-color: #ccc; margin:100px auto;
  box-shadow:0.5em 0.5em 0.5em #333;}
  h1{width:100%; height:auto; color:#fff; background-color: #09f; margin-bottom:50px;}
  .position{width:80%; height:200px; background-color: #f9c; margin:0 auto;}
  .position>div{width:70px; height: 70px; float:left; /*박스 높이값을 line-height행간으로 주면 정가운데로 위치하게 된다. 한줄일 경우*/
    text-align:center; line-height:70px; color:#fff; text-shadow:0.1em 0.1em 0.1em #171717;}
    .none{background-color: #9af;}
    .static{background-color: #5bc;}
    .fixed{background-color: #3ca;}
    .relative{background-color: #1d9;}
    .absoulte{background-color: #0e7;}
    .box{background-color: #9f5;}

/*_________________________________________________________________*/

.position{position:relative;}
.static{position:static; z-index:-100; top:500px;} /*기본상태 추가기능 동작이 안먹음*/
.fixed{width:500px; position:fixed; top:0; right:50%; z-index:50;} /*움직이는건 상자에서 right면 브라우저 끝에서 상자right선이 50 떨어짐*/
/*fixed에 top이랑 right값이 없으면 부모의 0의 값에 공중으로 띄어서 들어가게 된다. 브라우저 자체를 기준위치로 본다.
/*가운데 가게 할려고 하면 ? : 
.fixed{position:fixed; width:500px; top:50%; left:50%; margin-top:-45px; margin-left:-250px;}
 top,left로 position을 50%씩 이동하고 내가 원래 가진 값(width,height)의 반을 margin으로 이동(이때 마진은 내가 처음에 position에 줬던 값 left면 margin-left:-250);*/
.relative{position:relative; top:90px; left:-150px;}
/*자기자신이 기준, 얘는 자리를 비워도 다른게 자리를 채울 수 없음. 나의 자리를 비워도 자리가 없어지지x
따라서 top같은거 잘 쓰지않음*/
.absolute{position:absolute; top:0px; left:10%;} /*현재는 부모 태그가 없어서 브라우저에서 기준대로 움직이고 있다.*/
/*satatic을 제외한 position 속성을 가진 것이 부모.
부모가 생기면 부모의 위치 기준으로 움직이게 된다.만약 absoulte의 z-index가 혼자 사람들 중 가장 높아도, 
만약 부모의 z-index가 낮으면 제일 위로 올릴 수 없다(흙수저)
그러나, 부모보다 뒤로 갈 수 없다. 무조건 앞에 위치.*/