#wrap { width: 1000px; height: auto;  margin: 0 auto; }
  #wrap:after { content: " "; display: block; clear: both; }

#headBox { width: 1000px; height: auto;}
  #headBox>#topBox{width:100%; height:34px; border-bottom:solid 1px #ccc;}
    .insam{width:100px; height:34px; float:left; background-image:url("../../img/insam.png"); background-position:center; background-repeat:no-repeat; }
      .insam>a{width:100px; height: 34px;}
    #unbBox{width:40%; height:34px; float:right;}
      #unbBox>ul{width:100%; height:34px; float:right;}
        #unbBox>ul>li{display:block; width:60px; height:34px; font-size:11pt; padding:6px 0px; box-sizing:border-box; text-align:center; float:left; margin-right:12px;}
          #unbBox>ul>li:nth-child(3){width:100px;}
        #unbBox>ul>li>a{width:100%; height:100%; float:left;}
  #centerBox{width:100%; height:100px;}
    #logo{width:196px; height:100px; margin-right:86px; float:left; background-image:url("../../img/logo.png"); background-position:center;background-repeat:no-repeat;}
      #logo a{width:196px; height:100px; margin-right:86px;}
    .searchBox{width: 430px; height: 100px; float:left; margin-right:52px; background-image: url("../../img/search.png"); background-position:center; background-repeat:no-repeat;}
    .dodam{width: 236px; height: 100px; float:left; background-image: url("../../img/ad_btn_11.jpg"); background-position:center; background-repeat:no-repeat;}
  #gnbBox{width:100%; height:60px; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc;}
    #gnbBox>ul{width:100%; height:60px; background-color: #fff;}
      #gnbBox>ul>li{width:80px; height:60px; padding:18px 0; box-sizing:border-box; font-size:14pt; float:left; margin-right:48px;}
        #gnbBox>ul>li:nth-child(1){width:170px; text-align:center; border-right:solid 1px #ccc;}
        #gnbBox>ul>li:nth-child(6){width:120px;}
        #gnbBox>ul>li:nth-child(7){width:100px;}
        #gnbBox>ul>li>a{width:100%; height:100%; float:left;}

#contentBox { width: 1000px; height: 4326px;}
  #adBox{width:1000px; height:520px; background-image: url("../../img/ad.png"); background-position:center; background-repeat:no-repeat;}
  #topBanner{width:1000px; height:182px; background-image: url("../../img/ad_btn_10.jpg"); margin-bottom:60px; }
  #asideBox{width:1000px; height:276px;}
    .recommendText{width:100%; height: 60px; border-bottom:solid 1px #ccc;}
    #asideBox h4{font-size:18pt;}
    #asideBox h4 span{font-size:12pt;}
    .asideImage{width:100%; height:216px;}
      .asideImage>ul{width: 100%; height:110px;  padding:40px 0; box-sizing:border-box;}
        .asideImage>ul>li{width:108px; height: 110px; float:left; margin-right: 40px; background-image: url("../../img/split.png"); background-repeat:no-repeat;}
        .asideImage>ul>li>a{width:108px; height: 110px; float:left; margin-right: 40px;}
        .asideImage>ul>li:nth-child(1){background-position: 0 -80px;}
        .asideImage>ul>li:nth-child(2){background-position: -117px -80px;}
        .asideImage>ul>li:nth-child(3){background-position: -230px -80px;}
        .asideImage>ul>li:nth-child(4){background-position: -345px -80px;}
        .asideImage>ul>li:nth-child(5){background-position: -461px -80px;}
        .asideImage>ul>li:nth-child(6){background-position: -578px -80px;}
        .asideImage>ul>li:nth-child(7){background-position: -694px -80px;}
        .asideImage>ul p{width:108px; height:auto; font-size:10pt; float:left; text-align:center;}
          .asideImage>ul>li:hover{width:108px; height: 110px; background-image: url("../../img/split.png"); background-repeat:no-repeat; float:left; margin-right: 40px;}
          .asideImage>ul>li:hover:nth-child(1){background-position:   0   -195px;}
          .asideImage>ul>li:hover:nth-child(2){background-position: -117px -195px;}
          .asideImage>ul>li:hover:nth-child(3){background-position: -230px -195px;}
          .asideImage>ul>li:hover:nth-child(4){background-position: -345px -195px;}
          .asideImage>ul>li:hover:nth-child(5){background-position: -461px -195px;}
          .asideImage>ul>li:hover:nth-child(6){background-position: -578px -195px;}
          .asideImage>ul>li:hover:nth-child(7){background-position: -694px -195px;}

  #articleBox{width:1000px; height:806px; padding:20px 10px; box-sizing:border-box; background-color: #310;}
     #articleBox>ul{width: 980px; height: 658px; margin:0 auto;}
      #articleBox>ul>li{width:216px; height:301px; margin-right:38px; margin-bottom:56px; float:left; background-color: #ccc;}
        #articleBox>ul>li>dl>dt{width:216px; height:218px; background-color: #522;}
        
  #brandBanner{width:1000px; height:488px; background-color: #932;}
  #brandArticleBox{width:1000px; height:686px; background-color: #913;}
  #recommendBox{width:1000px; height:490px; background-color:#732;}
  #magazineWrap{width:1000px; height:460px; background-color:#421;}

#noticeBox { width: 1000px; height: auto;}
  .noticeBox{width:1000px; height:72px; background-color: #c82;}
  .storyBox{width:1000px; height:56px; background-color: #cc3;}
  .familysiteBox{width:1000px; height:114px; background-color: #c92;}
  .ectBox{width:1000px; height: 48px; background-color: #c74;}

#footBox { width: 1000px; height:auto;}
  .cscenterBox{width:1000px; height:76px; background-color: #25f;}
  .escroBox{width:1000px; height:64px; background-color: #357;}
  .addressBox{width:1000px; height:114px; background-color: #11f;}