// variable.scss

// 색상정의 
$color:(
	primary:#777,
	gray:#888,
	black:#171717,
	font:#333,
	point:#fff30d,
	white:#fff,
	line:#555
	);

// url 
$url:"../../img/";

// hidden
%hidden{width:0; height:0; display:block; 
	      position:absolute; z-index:-100; overflow:hidden;}
@mixin hidden(){	@extend %hidden; }