//  _adBanner.scss

  #adBanner{@include size($h:100%); margin-bottom:20em;
    >#musicVideo{@include size($w:100%, $h:100%, $c:$main); overflow:hidden; position: relative;
      video{@include size($w:100%, $h:100%, $c:$main);      
            -webkit-object-fit:cover;
            -moz-object-fit:cover;
            -ms-object-fit:cover;
            -o-object-fit:cover;
            object-fit:cover;}
      #moreMv{@include size($w:75px, $h:24px); position: absolute; z-index:50; bottom:5em; bottom:50%; right:0; margin-left:-25px; color:#fff; 
       span{text-transform:uppercase;}
            &:hover{font-size:1.1em; transition:all 400ms ease-in;}
            &:before{content:" "; display:block; margin-top:25px; border-top:dashed #fff 1px;}}   
      #scroll{@include size($w:50px, $h:24px); position: absolute; z-index:50; bottom:5em; left:50%; margin-left:-25px; color:#fff; text-transform:uppercase;
            &:after{content:" "; display:block; margin-left:25px; @include size($w:1px, $h:5.2em, $c:#fff);}}
      }//musicVideo
    }//adBanner

  #fixedBanner{width: 100vw; height: 60%; margin-bottom:20em; position:relative; left:50%; top:0%; margin-left:-50vw; background-attachment:fixed;
              box-sizing:border-box; @include link($f:"fixed.png"); background-size:cover; padding-top:12%; box-sizing:border-box;
              &:first-letter{text-transform:uppercase;}
              p{color:#fff; font-size:3vw; font-size:58.8px; text-align:center; font-family:'Poiret One'; opacity:0; transition:all 300ms ease-out;}
              .lettry:hover .try{color:$main; font-weight:bold;}
              .lettry:hover .go{@include link($f:"Full/go_hover.png");}
              .lettry a{width:100%; height:100%; display:block;}
              .try{font-size:1.4vw; display:inline-block; float:left; margin-left:40%;}//try
              .go{width: 6vw; height:1.6em; background-size:contain; opacity:0; transition:all 300ms ease-out; @include link($f:"Full/go.png"); margin-left:1em; float:left;}//go
              .addview{opacity:1;}
              span{text-transform:uppercase;}}//fixedBanner