//  _headbox.scss

#headBox { @include size($h:120px,$c:transparent); position:absolute; top:0px; z-index:100; padding:2.5em 3em 0; box-sizing:border-box;
          h1{@include size($w:190px, $h:70px); @include link($f:"Full/jypLogo.png"); float:left;
            >a{display:inline-block; @include size($w:100%, $h:100%); cursor:pointer;}}
          #gnbLogo{@include size($w:50px, $h:5px, $c:$strong); float:right; right:3em; position:fixed; z-index:200; margin-top:10px;
            a{@include size($w:50px, $h:30px); margin-top:-13px; cursor:pointer; display:inline-block; margin-bottom:10px;}
            &:before{content:" "; display: block; @include size($w:50px, $h:5px, $c:$strong); position:absolute; top:10px;}
            &:after{content:" "; display: block; @include size($w:50px, $h:5px, $c:$strong); position:absolute; top:-10px;}}//gnbLogo 

          #gnbBox{width:100vw; min-width:960px; left:0; top:0; height:100%; background-image:linear-gradient(to right,$main,#fff); opacity:1; position:fixed; z-index:100;
            .photoWrap{@include size($w:50%, $h:100%); float:left;
              .gnbpBox{@include size($w:83%, $h:40%, $c:#ca8); background-size:cover;
               margin-top:23%; margin-bottom:3%;}
               .nomal{@include link($f:"Full/gnb/nomal.png");}
               .companyP{@include link($f:"Full/gnb/aboutjyp_hover.png"); transition:all 300ms ease-in}
               .artistP{@include link($f:"Full/gnb/artist_hover.png"); transition:all 300ms ease-in}
               .actorP{@include link($f:"Full/gnb/actor_hover.png"); transition:all 300ms ease-in}
               .auditionP{@include link($f:"Full/gnb/audition_hover.png"); transition:all 300ms ease-in}
              .fLBox{@include size($w:40%, $h:30px); margin:0 18%; margin-bottom:2%;
                .flList{@include size($w:100%, $h:30px); 
                  >li{@include size($h:100%); float:left;}
                    .familysite{width:57%; margin-right:3%;
                      select{width:100%; height:100%; text-transform:uppercase;}}
                    .language{width:40%; background-color: #715;
                      select{width:100%; height:100%; text-transform:uppercase;}}}//list(ul)
                }//familyBox
              .gsnsBox{@include size($w:110px, $h:30px); margin:0 30%;
                .gsnsList{@include size($w:100%, $h:100%);
                  >li{@include size($w:30px, $h:100%); margin-right:10px; float:left; background-size:cover;
                      a{@include size($w:100%, $h:100%); display:block;}}
                    .twitter{@include link($f:"Full/gnb/twitter.png");}
                    .facebook{@include link($f:"Full/gnb/facebook.png");}
                    .instagram{@include link($f:"Full/gnb/instagram.png");}}}//gsnsBox
               }//photoWrap

               
            
            .listWrap{@include size($w:50%, $h:100%); float:right;
              .listBox{@include size($w:65%, $h:75%); margin:13% 13%;
                .gnblist{@include size($w:100%, $h:100%);
                  >li{@include size($w:100%, $h:25%); color:#333; text-align:center; font-family:'Poiret One'; 
                    font-size:96px;font-size:6rem; font-size:5.05263vw;
                                // 원래 사용한 가로크기(px기준) / 브라우저 기준크기(1920) * 100 
                    &:first-letter{text-transform:uppercase;}
                    &.company:hover > .companyMore{display:block;}
                    .companyMore{@include size($w:25vw, $h:25%);  display:none; margin-left:0.8em; padding:1.5% 0; box-sizing:border-box;
                      >li{@include size($w:21%, $h:100%); margin-right:0.3em; font-size:1.2vw; float:left; 
                          font-family:'nanumGothic'; text-align:center; text-transform:uppercase;}//moreli
                        .notice{width:18%;}
                        .aboutJyp{width:26%;}
                        .ir{width:6%;} 
                      }//moreul
                    &.audition:hover > .auditionMore{display:block; transition:all 900ms;} 
                    .auditionMore{@include size($w:25vw, $h:25%); display:none; margin-left:0.8em; padding:1.5% 3%; box-sizing:border-box;
                      >li{@include size($w:15%, $h:100%); margin-right:0.5em; font-size:1.2vw; float:left; 
                          font-family:'nanumGothic'; text-align:center; text-transform:uppercase;}
                          .audition{width:25%; margin-left:calc(24% - 0.3em);}
                          .faq{width:12%;}//moreli 
                      }//moreul 
                    } //gnbli
                    }//list(gnblistul)
              }//listBox
            }//listWrap
        } //gnbBox
        }//headBox