

  #snsWrap{@include size($h:60%); margin-bottom:10em;
    div.h2Box{@include size($h:15%); margin-bottom:3em; transition:all 800ms; transform:translateY(70%); opacity:0;}
       .h2Box.addView{transform:translateY(0); opacity:1;}
    #snsBox{@include size($h:85%); transition:all 800ms ease-out;
        &.default{transform:translateY(40%); opacity:0;}
        &.addView{transform:translateY(0); opacity:1;}
      #snsList{@include size($h:100%);
        li{@include size($w:20%, $h:77%); float:left; background-size:cover; transition:all 300ms ease-out;
          a{@include size($w:100%, $h:100%); display:block;}}//li
        p{display:none; font-size:2em; text-align:center;
        &:first-letter{text-transform:uppercase;}} 
        .snsP_01{@include link($f:"Full/mainPage/sns/jinyeong.png");
          &:hover{@include link($f:"Full/mainPage/sns/jinyeong_hover.png");
            &:hover p{display:block; color:#fff;}}}
        .snsP_02{@include link($f:"Full/mainPage/sns/suzi.png");
          &:hover{@include link($f:"Full/mainPage/sns/suzi_hover.png");
            &:hover p{display:block; color:#fff;}}}
        .snsP_03{@include link($f:"Full/mainPage/sns/day6.png");
          &:hover{@include link($f:"Full/mainPage/sns/day6_hover.png");
            &:hover p{display:block; color:#fff;}}}
        .snsP_04{@include link($f:"Full/mainPage/sns/nayeon.png");
          &:hover{@include link($f:"Full/mainPage/sns/nayeon_hover.png");
            &:hover p{display:block; color:#fff;}}}
        .snsP_05{@include link($f:"Full/mainPage/sns/jackson.png");
          &:hover{@include link($f:"Full/mainPage/sns/jackson_hover.png");
            &:hover p{display:block; color:#fff;}}}
        }//snsList(ul)
    }//snsBox
  }//snsWrap