// variable
$imgF:"../../img/";
$img:"../../img/nofull/";

//color
 $main:#00b4e7;
 $strong:#00a0e9;
 $gray:#CCCCCC;
 $fontColor:#333333;
 $white:#fffff;
 $black:#171717;

// line
 $lineColor:#00b4e7;
 $lineWidth:1px;
 $line:$lineWidth solid $lineColor;

// font
  // $fontSize: 1em; 
  // $fontFamily:'myriad pro', arial, sans-serif;
 